.little-card.music.Rock {
    background-color: rgb(204 0 0);
}
.little-card.music.African {
    background-color: rgb(0 165 19);
}
.little-card.music.Arabic {
    background-color: rgb(226 75 0);
}
.little-card.music.Blues {
    background-color: rgb(51 125 255);
}
.little-card.music.Bollywood {
    background-color: rgb(123 62 219);
}
.little-card.music.Brazilian {
    background-color: rgb(255 231 128);
}
.little-card.music.Christian {
    background-color: rgb(77 238 255);
}
.little-card.music.Classical {
    background-color: rgb(204 204 204);
}
.little-card.music.Country {
    background-color: rgb(51 125 255);
}
.little-card.music.EDM {
    background-color: rgb(0 146 191);
}
.little-card.music.Folk {
    background-color: rgb(0 165 19);
}
.little-card.music.Francophone {
    background-color: rgb(170 9 170);
}
.little-card.music.Hip-Hop {
    background-color: rgb(226 75 0);
}
.little-card.music.Indie {
    background-color: rgb(204 204 204);
}
.little-card.music.J-Pop {
    background-color: rgb(255 120 255);
}
.little-card.music.Jazz {
    background-color: rgb(164 197 255);
}
.little-card.music.K-Pop {
    background-color: rgb(180 123 255);
}
.little-card.music.Latin {
    background-color: rgb(255 194 0);
}
.little-card.music.Metal {
    background-color: rgb(140 140 140);
}
.little-card.music.Pop {
    background-color: rgb(255 120 255);
}
.little-card.music.R\&B {
    background-color: rgb(123 62 219);
}
.little-card.music.Reggae {
    background-color: rgb(255 231 128);
}
.little-card.music.Musicals {
    background-color: rgb(77 238 255);
}