@import url("./index.css");
.App {
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  width: 100dvw;
  display: grid;
  place-items: center;
  z-index: 3;
}

header>nav {
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 3vmin;
}

header>nav>a {
  font-size: large;
  font-weight: 600;
  opacity: .5;
  transition: opacity var(--a-animation-duration) ease;
  text-decoration: none;
}

header>nav>a.curpage,
header>nav>a:hover {
  opacity: 1;
}

a {
  position: relative;
  color: var(--text-color);
} 

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform var(--a-animation-duration) ease;
}

a:hover::before {
  transform: scaleX(1);
}