@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: var(--body-background-color);
  overflow: hidden;
  color: var(--text-color);
}

main.project {
  overflow: auto;
}

body:has(.project) {
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

img, .track {
  user-select: none;
  -webkit-user-drag: none;
}

:root {
  --card-width: 40vmin;
  --card-height: 50vmin;
  --animation-duration: 1.5s; /* Keep this in seconds, it gets parsed in js later */
  --move-track: 0;
  --animation-timing-function: cubic-bezier(.24,.33,0,1.07);
  --text-color: white;
  --a-animation-duration: 250ms;
  --transition-animation-duration: 500ms; /* Keep this in ms, it gets parsed in js later */
  --blind-cover-img: ;
  --body-background-color: #242424;
}

@media (orientation: portrait) {
  :root {
    --card-width: 85vmin;
    --card-height: 50vmin;
  }
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
