@import url("./index.css");

.blind {
    position: absolute;
    background-color: black;
    background-image: var(--blind-cover-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    transform: translateY(100vh);
}

[class*='page'],
[class*='page'] .blind {
    transition: transform var(--transition-animation-duration) ease, opacity var(--transition-animation-duration) ease;
}

.page-exit .blind {
    transform: translateY(100vh);
}

.page-exit-active .blind {
    transform: translateY(0vh);
}

.page-exit:not(:has(.blind)) {
    opacity: 1;
}

.page-exit-active:not(:has(.blind)) {
    opacity: 0;
}

.page-enter:has(.blind) {
    opacity: 0;
}

.page-enter:has(.blind) {
    opacity: 1;
}

.expanded[class*='card-swap'] {
    animation: none;
    transition: transform 500ms ease;
}

@keyframes swap-card {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main:has([class*='card-swap']) .track {
    z-index: 15;
}

.card-swap-enter {
    transform: translateX(100vw);
    z-index: 10;
}

.card-swap-enter-active {
    transform: translateX(0vw);
    z-index: 10;
}

.card-swap-enter-done {
    transform: translateX(0);
}

.card-swap-enter-active ~ .expanded {
    display: none;
}

.card-swap-exit,
.card-swap-exit-active,
.card-swap-exit-done {
    opacity: 0;

}

[class*='card-swap-enter']>.exp-card-title {
    animation: title-box 500ms, title-box-overflow 1s linear 500ms;
}

[class*='card-swap-enter']>.exp-card-title>* {
    animation: title-reveal 1s var(--animation-timing-function) 500ms;
}
[class*='card-swap-enter']>.exp-card-title>*::before {
    animation: expand-shadow 1.5s ease 500ms backwards;
}